.similar-job-list-container {
  background-color: #202020;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 25%;
  padding: 30px;
  border-radius: 10px;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .similar-job-list-container {
    width: 100%;
  }
}
